body,html{
    height: 100%;
    margin: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: radial-gradient(black, rgb(0, 204, 255)); */
}
#video{
    width: 150%;
    height: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
}
main{
    position: relative;
    padding: 30px;
    background-color: #ffffffd3;
    width: 30%;
    height: 70%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.442) 4px 8px 3px;
    z-index: 1;
}
h1{
    text-align: center;
    color: #4a90e2;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{/* margem da escrita da tarefa */
    width: 30%;
}
#sec1{/* onde fica os botoes e caixa de input */
    text-align: center;
    margin-top: 10%;
    height: 25%;

}
#add{
    height: 25%;
}
button{
    width: 20%;
    height: 50px;
    background-color: #4a90e2;
    border: none;
    font-size: 20px;
    border-radius:10px ;
    border: solid 5px gray;
    
}
button:hover{
    border-color: #ffffff90;
    color: rgb(255, 255, 255);
}
.tarefa{
    width: 10%; /* Meche com a distancia da checkbox  */
    margin-left: 280px;
    height: 50px;
    accent-color: #4caf50;

}
#text{/* input q recebe as tarefas */
    width: 70%;
    height: 90%;
    border: solid 5px gray;
    border-radius: 10px;
    font-size: 20px;
    color: #333333;
}
#text:focus{
    background-color: #4a91e228;
}

#list{/* onde recebe as tarefas */
    max-height: 40%;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
}
ul{/* recebe a checkbox, delete, e o nome da tarefa */
    font-size: 20px;
    background-color: white;
    color: #333333;
    font-weight: 800;
    width: 90%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    word-wrap: break-word; /* força quebra de palavra se necessário */
    overflow-wrap: break-word; /* compatibilidade */
    white-space: normal; /* permite quebras de linha */
    border: solid 4px #cccccc;
}
.delete{ /* botao de deletar */
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 0;
    background-color: #ff6b6b;
    border-radius: 5px;
    font-size: 25px;

}
#botaolimpar{
    position: absolute;
    top: 85%;
    left: 44%;
}
#limpar{
    height: 50px;
    width: 80px;
}
.tarefa:checked{
  background-color: #fad1d1; /* verde claro */
  color: #065f46; /* verde escuro */
}
